* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #b48cf5;
    color: #333;
}
.main{
    background: #fff;
    width: 80%;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 20px;
    padding: 20px;
}

.main h1{
    font-size: 25px;
    color: black;
    font-weight: 600;
    border-bottom: 2px solid #b9b4b4;
    padding-bottom: 30px;
    text-align: center;
}

p{
    font-size: 16px;
    font-weight: 400;
}

.quiz{
    padding: 20px 0;
}

.btn {
    background: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px, solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;

}
.correct {
    background: green;
}
.incorrect{
    background: red;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor:no-drop;
}
